.App {
  text-align: center;
  background-color: #e6e6e6;
  height: 100vh;
  overflow: hidden;
  color: rgb(92, 136, 151);

  &-logo {
    height: 40vmin;
    pointer-events: none;
  }


  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 50px;
    background-color: rgb(108, 154, 182);
    z-index: 10;
    

    &__navigation{
      width: 100%;
      padding: 40px;
      display: flex;

      & img {
        padding: 10px;
        width: 70px;
        height: 40px;
      }

    }

    & .search{
        margin-left: 20px;
    }
  }

  &__section{
    margin-top: 70px;
    padding-top: 50px;
    height: calc( 100vh - 80px );
    overflow-y: scroll ;

    &__heading{
      padding-left: 40px;
      margin-bottom: 40px;
      font-size: 30px;
      color: rgb(67, 114, 129);
    }
  }

  &-link {
    color: #61dafb;
    width: 70px;
    font-size: 1.2rem;
    padding-top: 18px;
    margin-right: 10px;
    text-decoration: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media( min-width: 1024px ) {
  & .search{
    margin-left: 60px;
  }
  .App{
    &-link{
      width: 120px;
    }
  }
}