

.title-list, h2 {
  padding: 20px 40px;
  box-sizing: border-box;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  opacity: 1;
  position: relative;
  z-index: 4;
  color: rgb(92, 136, 151);
  overflow-y: auto;

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1em;
    text-align: left;
  }
  

 & .titles-wrapper {
  display: flex;
  margin: 10px 0;
  width: calc(100vw - 80px);
  box-sizing: border-box;
  color: white;
  overflow-x: auto;
}

&__page .titles-wrapper {
  flex-wrap: wrap;

  & .item{
    min-width: calc(33% - 10px);
  }
}

  &[data-loaded='true'] {
    opacity: 1;
  }
}


.pagination__container{

  width: 100%;
  padding-left: 25%;
  padding-bottom: 20px;
  &__item{
      color: rgb(10, 121, 196);
      font-size: 16px;
      margin-left: 15px;

      &:hover {
          color: rgb(69, 224, 217);
          cursor: pointer;
      }
  }
}

@media( min-width: 1024px ){
  .pagination__container{

    width: 100%;
    padding-left: 45%;
  }
}